@charset "utf-8";
.body_bg{
	background-image: url(bg.gif);	
}
.username{  
    background-image:url(/ExtJS/ext-2.0.2/resources/icons/user.png) !important;  
    background-repeat:no-repeat;  
    background-position:right;  
}  
.password{  
    background-image:url(/ExtJS/ext-2.0.2/resources/icons/lock.png) !important;  
    background-repeat:no-repeat;  
    background-position:right;  
}  